.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  footer {
    margin-top: auto;
  }
  
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .copyright a {
    width: 24px;
    height: 20px;
    align-self: center;
    color: #345678;
  }
  
  .copyright p {
    color: #345678;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* https://codepen.io/giana/pen/BZaGyP */
  .copyright a:hover,
  .copyright a:focus {
    transform: translateY(-0.25em);
  }
  